Thank you for registering Peatio，Quickly click on the link below to verify your E-mail it:

<%= @token_url %>
<p>If the link is not clickable, please copy into your browser address bar directly. 
30 minutes after the link failure, please log reset.</p>

Thanks,
The Peatio Team
