<div class="row">
  <div class="col-md-4">
  Add credits manually<br/>
    <%= render "form",:locals=>{:@credit=>@credit}%>
  </div>
  <div class="col-md-8">
  All Credits 
	<table class="table table-striped table-condensed">
	      <thead>
	      <tr>
	          <th>Amount</th>
	          <th>Currency</th>
	          <th>Created at</th>
	      </tr>
	  </thead>   
	  <tbody>
	  <% current_user.try(:credits).try(:reverse).each do |credit| %>
	    <tr>
	        <td><%= credit.amount %></td>
	        <td><%= credit.currency %></td>
	        <td><%= credit.created_at%></td>
	        </td>                                       
	    </tr>
	    <% end %>
	                                     
	  </tbody>
	</table>
  
  </div>
</div>